@media (max-width: 650px) {
  :root {
    --direction-of-flex: column;
  }
}

body {
  background-color: rgb(6, 7, 46);
}

.top {
  margin: auto;
  border: 1px solid white;
  width: 1000px;
  height: 170px;
  padding: 20px;
  margin-bottom: 70px;
}

#title {
  font-size: 3em;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  padding: 3px;
  color: white;
}

.text {
  display: block;
  color: black;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 50px;
  padding: 10px;
  color: white;
}

.img {
  display: block;
  width: 50%;
  margin: 0 auto;
  padding: 90px 90px 90px 90px;
  background-color: white;
}

table {
  width: 70%;
  margin: auto;
  color: white;
  border: 2px solid white;
  margin-top: 40px;
}

a {
  text-decoration: none;
  color: white;
}

p {
  color: white;
}

caption {
  margin: auto;
  align-self: center;
}
